
.ing {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    opacity: 0; /* Invisible pero funcional */
    pointer-events: auto; /* Sigue siendo clickeable */
}

.ing a {
    color: black;
    text-decoration: none;
}

.ing a:visited {
    color: black;
}

.ing a:hover {
    color: black;
}