body{
    background-color: black;
    margin: auto;
    height: auto;
    width: auto;
}

.sustitucion{
    position: fixed;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    color: #000000;
    text-align: center;
}

.binario{
    font-size: 24px;
    color: #000000;
    position: fixed;
}

.flecha{
    position: fixed;
    right: 400px;
    bottom: 120px;
    font-size: 300px;
    line-height: 12px;
}

.ing {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    pointer-events: auto;
}

.ing a {
    color: black;
    text-decoration: none;
}

.ing a:visited {
    color: black;
}

.ing a:hover {
    color: black;
}