body {
    background-color: #111;
    color: #ccc;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input {
    display: block;
    width: 250px;
    padding: 8px;
    margin: 10px 0;

    background-color: #1b1b1b;
    border: 1px solid #444;
    color: #eee;
}

button {
    width: 270px;
    padding: 10px;

    background-color: #222;
    color: #ddd;
    border: 1px solid #555;

    cursor: pointer;
}

button:hover {
    background-color: #333;
}